/* stylelint-disable no-descending-specificity */

.customize-support {
	background: #1f1f1f;
}

.full-cast-crew {
	background-color: #1f1f1f;
	padding: 112px 112px 0 112px;
	margin-bottom: 56px;
}

.full-cast-crew .full-cast-crew-header {
	color: #fff;
	font-size: 32px;
	padding-left: 12px;
	border-left: 4px solid #d13223;
	font-family: "Big Shoulders Display", sans-serif;
	margin-bottom: 48px;
	font-weight: 700;
	line-height: 40px;
}

.full-cast-crew .full-cast-crew-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 32px;
	-moz-column-gap: 32px;
	column-gap: 32px;
}

.full-cast-crew .full-cast-crew-grid .cast-crew-grid {
	display: grid;
	background-color: #2a2a2a;
	max-height: 224px;
	width: 592px;
	grid-template-columns: 153px 439px;
	grid-template-rows: 112px 112px;
	color: #fff;
}

.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-image {
	grid-row: 1/span 2;
	width: 153px;
	overflow: hidden;
}

.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-image img {
	width: 100%;
	min-height: 100%;
}

.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-main-info {
	margin: 32px 0 0 24px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-main-info .crew-name {
	font-family: "Big Shoulders Display", sans-serif;
	font-weight: 700;
	line-height: 40px;
	font-size: 32px;
}

.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-main-info span {
	font-size: 24px;
	font-family: "Big Shoulders Display", sans-serif;
}

.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-main-info .crew-name a {
	text-decoration: none;
	color: inherit;
}

.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-main-info .crew-birth-date {
	font-family: Heebo, sans-serif;
	font-size: 14px;
	opacity: 50%;
}

.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-summary {
	font-family: Heebo, sans-serif;
	margin: 0 0 0 24px;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	overflow: hidden;
}

.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-summary .crew-person-summary {
	font-size: 16px;
}

.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-summary a {
	font-size: 14px;
	text-decoration: none;
	color: #e46d62;
}

.load-more-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.load-more-btn {
	color: #fff;
	padding: 16px 40px;
	border-radius: 2rem;
	border: 1px solid #fff;
	width: fit-content;
}

@media only screen and (max-width: 376px) {

	.full-cast-crew {
		padding: 64px 24px 0 24px;
	}

	.full-cast-crew .full-cast-crew-header {
		font-size: 32px;
	}

	.full-cast-crew .full-cast-crew-grid {
		grid-template-columns: 1fr;
	}

	.full-cast-crew .full-cast-crew-grid .cast-crew-grid {
		width: 327px;
		max-height: 190px;
		grid-template-rows: 105px 85px;
		grid-template-columns: 72px 255px;
	}

	.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-image {
		grid-row: 1/span 1;
		width: 72px;
	}

	.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-main-info {
		margin: 12px 115px 12px 12px;
	}

	.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-main-info .crew-name {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 16px;
	}

	.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-main-info .crew-name span {
		font-size: 14px;
	}

	.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-main-info .crew-birth-date {
		font-size: 10px;
	}

	.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-summary {
		margin: 12px;
		grid-column: 1 / span 2;
		font-size: 12px;
	}

	.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-summary .crew-person-summary {
		font-size: 12px;
		height: 36px;
		width: 303px;
	}

	.full-cast-crew .full-cast-crew-grid .cast-crew-grid .crew-item-summary .learn-more-link {
		font-size: 12px;
		width: 100px;
		line-height: 14px;
	}

	.load-more-container {
		display: none;
	}

}
