/* stylelint-disable no-descending-specificity */
.customize-support {
	background: #1f1f1f;
}

.hero-movie {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 35px 112px;
	gap: 32px;
	max-height: 946px;
}

.hero-movie .left-item img {
	max-height: 876px;
	max-width: 592px;
}

.hero-movie .right-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

.hero-movie .right-item .movie-heading {
	font-family: "Big Shoulders Display", sans-serif;
	font-size: 88px;
	line-height: 96px;
	font-weight: 600;
	margin-bottom: 64px;
}

.hero-movie .right-item .movie-stats {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 24px;
	font-family: Heebo, sans-serif;
	margin-bottom: 36px;
}

.hero-movie .right-item .movie-stats .divider {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: #fff;
}

.hero-movie .right-item .movie-stats .movie-rating {
	font-size: 24px;
	font-weight: 700;
	display: flex;
	gap: 12px;
}

.hero-movie .right-item .movie-stats .movie-rating img {
	height: 32px;
	width: 32px;
}

.hero-movie .right-item .movie-summary {
	font-size: 18px;
	font-family: Heebo, sans-serif;
	line-height: 32px;
	font-weight: 400;
	margin-bottom: 40px;
}

.hero-movie .right-item .movie-tags {
	display: flex;
	gap: 1rem;
	font-family: Heebo, sans-serif;
	margin-bottom: 64px;
}

.hero-movie .right-item .movie-tags .movie-tag {
	padding: 8px 16px;
	border: 1px solid #fff;
	border-radius: 2rem;
}

.hero-movie .right-item .movie-tags .movie-tag a {
	color: inherit;
	text-decoration: none;
}

.hero-movie .right-item .movie-tags .movie-tag:hover {
	color: #d13223;
	border-color: #d13223;
}

.hero-movie .right-item .movie-directors {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 18px;
	font-family: Heebo, sans-serif;
	margin-bottom: 65px;
}

.hero-movie .right-item .movie-directors .divider {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: #fff;
}

.hero-movie .right-item .movie-directors .divider:last-child {
	display: none;
}

.hero-movie .right-item .movie-directors .director-title {
	font-size: 18px;
	font-weight: 700;
}

.hero-movie .right-item .movie-trailer {
	display: flex;
	align-items: center;
}

.hero-movie .right-item .movie-trailer .play-btn {
	position: absolute;
	z-index: 5;
	left: -1%;
	top: -40%;
}

.hero-movie .right-item .movie-trailer .watch-trailer {
	padding: 16px 40px 16px 129px;
	border: 1px solid #fff;
	border-radius: 1.8rem;
	font-size: 16px;
	font-family: Heebo, sans-serif;
	position: relative;
}

.movie-plot {
	display: flex;
	justify-content: space-between;
	padding: 120px 114px;
}

.movie-plot .movie-plot-section .plot-title {
	color: #fff;
	font-size: 32px;
	line-height: 40px;
	padding-left: 12px;
	border-left: 4px solid #d13223;
	font-family: "Big Shoulders Display", sans-serif;
	margin-bottom: 48px;
	font-weight: 700;
}

.movie-plot .movie-plot-section .plot-text {
	width: 798px;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	font-family: Heebo, sans-serif;
	line-height: 32px;
}

.movie-plot .movie-plot-section .plot-text a {
	color: #e46d62;
	text-decoration: none;
}

.movie-plot .quick-links {
	background-color: #2b2b2b;
	padding: 24px 32px;
	color: #fff;
	font-family: Heebo, sans-serif;
	width: 280px;
	height: -moz-fit-content;
	height: fit-content;
	display: none;
}

.movie-plot .quick-links .quick-link-title {
	font-size: 32px;
	font-family: "Big Shoulders Display", sans-serif;
	font-weight: 700;
	margin-bottom: 32px;
}

.movie-plot .quick-links .quick-link {
	margin-bottom: 24px;
}

.movie-plot .quick-links .quick-link i {
	margin-right: 8px;
}

.movie-plot .movie-main-wrapper .movie-wrapper-header {
	color: #fff;
	background-color: #000;
	padding: 0.5rem;
	font-family: "Big Shoulders Display", sans-serif;
	font-weight: 700;
	max-width: 250px;
	font-size: 2rem;
	overflow: hidden;
}

.movie-plot .movie-widget-wrapper {
	background-color: #2b2b2b;
	max-height: 500px;
	max-width: 250px;
	overflow: scroll;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1rem;
}

.movie-plot .movie-widget-wrapper .widget-movie-container {
	background-color: #1f1f1f;
	max-width: 175px;
	width: 100%;
}

.movie-plot .movie-widget-wrapper .widget-movie-container .widget-movie-poster img {
	max-width: 100%;
}

.widget-movie-container .widget-movie-details {
	color: rgb(131, 131, 131);
	font-size: 0.8rem;
	padding: 1rem;
}

.widget-movie-container .widget-movie-details a {
	color: #fff;
	text-decoration: none;
}

.widget-movie-container .widget-movie-details a h2 {
	font-size: 1.5rem;
	font-family: "Big Shoulders Display", sans-serif;
}

.widget-movie-container .widget-movie-details a h2:hover {
	color: #d13223;
}

.cast-and-crew {
	display: flex;
	flex-direction: column;
	padding: 0 112px;
}

.cast-and-crew .cast-and-crew-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cast-and-crew .cast-and-crew-header .cast-and-crew-title {
	color: #fff;
	font-size: 32px;
	padding-left: 12px;
	border-left: 4px solid #d13223;
	font-family: "Big Shoulders Display", sans-serif;
	margin-bottom: 48px;
	font-weight: 700;
	line-height: 40px;
}

.cast-and-crew .cast-and-crew-header .view-more a {
	color: #e46d62;
	font-family: Heebo, sans-serif;
	font-size: 20px;
	text-decoration: none;
}

.cast-and-crew .cast-and-crew-header .view-more a:hover {
	text-decoration: underline;
}

.cast-and-crew .cast-and-crew-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;
	color: #fff;
}

.cast-and-crew .cast-and-crew-grid .cast-item {
	height: 318px;
	width: 280px;
	display: flex;
	flex-direction: column;
}

.cast-and-crew .cast-and-crew-grid .cast-item .cast-name {
	text-align: center;
	background-color: #2b2b2b;
	font-size: 22px;
	padding: 24px;
	font-family: Heebo, sans-serif;
	color: #fff;
}

.cast-and-crew .cast-and-crew-grid .cast-item .cast-name a {
	text-decoration: none;
	color: inherit;
}

.cast-and-crew .cast-and-crew-grid .cast-item .cast-name a:hover {
	color: #d13223;
}

.cast-and-crew .cast-and-crew-grid .cast-item .cast-image {
	max-height: 248px;
	overflow: hidden;
}

.cast-and-crew .cast-and-crew-grid .cast-item .cast-image .wp-post-image {
	min-height: 100%;
}

.masonry {
	display: flex;
	flex-direction: column;
	padding: 0 112px;
	margin-top: 120px;
}

.masonry .masonry-header .masonry-title {
	color: #fff;
	font-size: 32px;
	padding-left: 12px;
	line-height: 40px;
	border-left: 4px solid #d13223;
	font-family: "Big Shoulders Display", sans-serif;
	margin-bottom: 48px;
	font-weight: 700;
}

.masonry .masonry-images {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.masonry .masonry-images img {
	max-width: 100%;
	max-height: 100%;
}

.trailers-and-clips {
	padding: 112px;
}

.trailers-and-clips .trailer-and-clips-header {
	color: #fff;
	font-size: 32px;
	padding-left: 12px;
	border-left: 4px solid #d13223;
	font-family: "Big Shoulders Display", sans-serif;
	margin-bottom: 48px;
	font-weight: 700;
	line-height: 40px;
}

.trailers-and-clips .trailer-and-clips-flex {
	display: flex;
	gap: 32px;
}

.trailers-and-clips .trailer-and-clips-flex .video-container {
	position: relative;
}

.trailers-and-clips .trailer-and-clips-flex .video-container video {
	height: 246px;
	width: 384px;
}

.trailers-and-clips .trailer-and-clips-flex .video-container img {
	height: 46px;
	width: 46px;
	position: absolute;
	left: 42%;
	top: 40%;
}

.reviews {
	padding: 112px;
	margin-bottom: 64px;
	color: #fff;
}

.reviews .reviews-header {
	color: #fff;
	font-size: 32px;
	padding-left: 12px;
	border-left: 4px solid #d13223;
	font-family: "Big Shoulders Display", sans-serif;
	margin-bottom: 48px;
	font-weight: 700;
	line-height: 40px;
}

.reviews .reviews-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px;
}

.reviews .reviews-grid .review {
	padding: 24px 32px;
	background-color: #2a2a2a;
	color: #fff;
	font-family: Heebo, sans-serif;
}

.reviews .reviews-grid .review .review-top-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.reviews .reviews-grid .review .review-top-row .review-user {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 16px;
	font-size: 16px;
}

.reviews .reviews-grid .review .review-top-row .user-rating {
	font-size: 16px;
	display: flex;
	font-weight: 500;
	align-items: center;
	gap: 8px;
}

.reviews .reviews-grid .review .review-top-row .review-user .user-name {
	opacity: 50%;
}

.reviews .reviews-grid .review .review-top-row .review-user .user-image {
	height: 59px;
	width: 59px;
}

.reviews .reviews-grid .review .review-top-row .review-user .user-image img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.reviews .reviews-grid .review .review-top-row .user-rating img {
	height: 20px;
	width: 20px;
}

.reviews .reviews-grid .review .review-text {
	margin-bottom: 24px;
	font-size: 18px;
	line-height: 32px;
}

.reviews .reviews-grid .review .review-bottom-row {
	display: flex;
	justify-content: flex-end;
	opacity: 50%;
}

@media only screen and (max-width: 376px) {

	.hero-movie {
		padding: 0;
		grid-template-columns: 1fr;
	}

	.hero-movie .left-item img {
		width: 100%;
		max-height: 286px;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.hero-movie .right-item {
		padding: 0 24px;
	}

	.hero-movie .right-item .movie-heading {
		font-size: 32px;
		font-weight: 600;
		margin-bottom: 16px;
		line-height: 40px;
	}

	.hero-movie .right-item .movie-stats {
		font-size: 14px;
		gap: 10px;
		margin-bottom: 16px;
	}

	.hero-movie .right-item .movie-stats .movie-rating {
		font-size: 14px;
		gap: 8px;
		align-items: center;
	}

	.hero-movie .right-item .movie-stats .movie-rating img {
		height: 20px;
		width: 20px;
	}

	.hero-movie .right-item .movie-summary {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 24px;
	}

	.hero-movie .right-item .movie-tags {
		gap: 12px;
		margin-bottom: 24px;
	}

	.hero-movie .right-item .movie-tags .movie-tag {
		padding: 4px 12px;
		font-size: 14px;
	}

	.hero-movie .right-item .movie-directors {
		margin-bottom: 24px;
		font-size: 14px;
	}

	.hero-movie .right-item .movie-directors span {
		font-size: 14px;
	}

	.hero-movie .right-item .movie-trailer {
		padding-left: 24px;
	}

	.hero-movie .right-item .movie-trailer .play-btn {
		top: -25%;
		left: -20%;
	}

	.hero-movie .right-item .movie-trailer .play-btn img {
		height: 70px;
		width: 70px;
	}

	.hero-movie .right-item .movie-trailer .watch-trailer {
		padding: 12px 24px 12px 50px;
		font-size: 14px;
		margin-left: 0;
	}

	.movie-plot {
		margin-top: 53px;
		padding: 0 24px;
		margin-bottom: 64px;
		flex-direction: column;
	}

	.movie-main-wrapper {
		margin-top: 1rem;
	}

	.movie-plot .movie-plot-section {
		margin-right: 0;
		width: 100%;
	}

	.movie-plot .movie-plot-section .plot-title {
		font-size: 24px;
	}

	.movie-plot .movie-plot-section .plot-text {
		width: 100%;
		font-size: 14px;
	}

	.movie-plot .quick-links {
		display: none;
	}

	.cast-and-crew {
		padding: 0 24px;
	}

	.cast-and-crew .cast-and-crew-header .cast-and-crew-title {
		font-size: 24px;
	}

	.cast-and-crew .cast-and-crew-header .view-more {
		display: none;
	}

	.cast-and-crew .cast-and-crew-grid {
		grid-template-columns: 1fr 1fr;
		gap: 16px;
		row-gap: 16px;
	}

	.cast-and-crew .cast-and-crew-grid .cast-item {
		width: 156px;
		height: 177px;
	}

	.cast-and-crew .cast-and-crew-grid .cast-item .cast-name {
		font-size: 14px;
		padding: 12px 0;
	}

	.masonry {
		padding: 0 24px;
	}

	.masonry .masonry-header .masonry-title {
		font-size: 24px;
	}

	.masonry .masonry-images {
		gap: 16px;
	}

	.masonry .masonry-images img {
		max-height: 100%;
		max-width: 100%;
	}

	.trailers-and-clips {
		padding: 24px;
		margin-top: 64px;
	}

	.trailers-and-clips .trailer-and-clips-header {
		font-size: 24px;
		margin-bottom: 24px;
	}

	.trailers-and-clips .trailer-and-clips-flex .video-container {
		flex-direction: column;
	}

	.trailers-and-clips .trailer-and-clips-flex .video-container video {
		height: 210px;
		width: 327px;
	}

	.reviews {
		padding: 0 24px;
		margin-top: 64px;
	}

	.reviews .reviews-header {
		font-size: 24px;
		margin-bottom: 42px;
	}

	.reviews .reviews-grid {
		grid-template-columns: 1fr;
		gap: 16px;
	}

	.reviews .reviews-grid .review {
		padding: 16px;
	}

	.reviews .reviews-grid .review .review-top-row {
		align-items: center;
	}

	.reviews .reviews-grid .review .review-top-row .review-user {
		align-items: center;
	}

	.reviews .reviews-grid .review .review-top-row .user-rating {
		font-size: 14px;
		display: flex;
		font-weight: 700;
		align-items: center;
	}

	.reviews .reviews-grid .review .review-top-row .user-rating img {
		height: 20px;
		width: 20px;
	}

	.reviews .reviews-grid .review .review-top-row .review-user .user-image {
		height: 31px;
		width: 31px;
	}

	.reviews .reviews-grid .review .review-top-row .review-user .user-name {
		font-size: 14px;
	}

	.reviews .reviews-grid .review .review-top-row .review-user .user-rating {
		font-size: 14px;
	}

	.reviews .reviews-grid .review .review-text {
		font-size: 14px;
		line-height: 24px;
	}

	.reviews .reviews-grid .review .review-bottom-row {
		font-size: 14px;
	}
}
